
<div style='padding: 20px;';>
    <h2 class="text-center", style='padding: 30px 100px; text-shadow: 1px 1px 3px rgb(0 0 0 / 20%); font-size: 32px; font-weight: bold;'><b>Update your information</b></h2>

<%= render "users_form", user: @user %>
</div>
