<div class="container", style='width: 50%; padding: 30px; margin: 50px auto; border-radius: 10px; box-shadow: 1px 1px 1px lightgray; border: 1px solid lightgray;'>

<h2 style='padding: 20px;'><i class="fa-solid fa-user-pen"> </i> <strong>Edit your profile</strong>  </h2>
<%= render "users_form", user: @user %>


</div>
