<div class="footer mt-auto py-3">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Timoty: Flatmates Life Made Easy is made with <i class="fas fa-heart"></i> by <a href="https://github.com/asaleh96/">Ahmed</a>,
    <a href="https://github.com/bizipoz/">Caroline</a>, <a href="https://github.com/SIFAR101">Shahid</a> and <a href="https://github.com/simonabar1/">Simona</a>.
  </div>
</div>
