<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5 px-0">
      <div class="col-lg-6">
        <h2 style="text-align: center; padding: 30px; font-size: 5vh; font-weight: bold;">Welcome to <span style='color:#f3703f'> Timoty <i class="fa-solid fa-champagne-glasses"></i> </span></h2>

        <p class="lead text-muted mb-0 pr-10" style='font-size: 2.3vh'>Timoty is a free application designed to make your life easier. If you are tired of fighting over household chores, we've got you! With our point-based system you can turn your chores into a game. Reward extra points for group activities and choose a weekly prize!</p>

        </p>
      </div>
      <div class="col-lg-5 d-none d-lg-block"><img src="https://images.unsplash.com/photo-1670272506220-f8332b178148?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxzZWFyY2h8MjJ8fGZyaWVuZHN8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="" class="img-fluid" style='box-shadow: 1px 1px 1px lightgray;'></div>
    </div>
  </div>
</div>

<div class="py-3"  style='background-color: #d4edf4;'>
    <div class="container py-5" >
    <div class="row align-items-center py-5 px-0">
      <div class="col-lg-5 d-none d-lg-block"><img src="https://images.unsplash.com/photo-1522071901873-411886a10004?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="" class="img-fluid mb-4 mb-lg-0" style='box-shadow: 1px 1px 1px lightgray;'></div>
      <div class="col-lg-6">
        <h2 style="text-align: center; padding: 30px 40px; font-size: 5vh; font-weight: bold;">The <span style='color:#01a5e2'> Project  <i class="fa-solid fa-laptop-code"></i></span></h2>
        <p class="lead text-muted pl-10" style='font-size: 2.3vh'> <strong> Timoty: Flatmates Life Made Easy </strong> was created as a Final Project for the <a href='https://www.lewagon.com' style='color:red; font-weight: bold;'>LeWagon Fullstack Development Bootcamp </a>. Our team is available to work on new projects - keep on scrolling to get in touch!</p>
      </div>
    </div>
  </div>
</div>


<div class="bg-light py-5">
  <div class="container">
    <div class="row mb-4 py-3">
      <div class="text-center py-2">
          <h2 style="text-align: center; padding: 30px auto; margin: auto; font-size: 5vh; font-weight: bold;">Meet the <span style='color:#f3703f'> Team  <i class="fa-solid fa-handshake"></i></span></h2>
      </div>
    </div>

    <div class="row text-center">

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4" >  <%= image_tag ("ahmed.jpeg"), class: 'img-fluid rounded-circle mb-3 img-thumbnail shadow-sm', style: 'width: 100;' %>
          <h5 class="mb-0" style='font-size: 2.5vh'>Ahmed Saleh</h5><span class="small text-uppercase text-muted" style='font-size: 1.9vh'>Developer | Warwick</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link" style='font-size: 3vh; color:#01a5e2'><i class="fa-brands fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/asaleh96" style='font-size: 3vh; color:#01a5e2' class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"> <%= image_tag ("caroline.jpeg"), class: 'img-fluid rounded-circle mb-3 img-thumbnail shadow-sm', style: 'width: 100;' %>
          <h5 class="mb-0" style='font-size: 2.5vh'>Caroline Bras</h5><span class="small text-uppercase text-muted" style='font-size: 1.9vh'> Developer | Paris</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/caroline-bras-0b685580/" style='font-size: 3vh; color:#01a5e2' class="social-link"><i class="fa-brands fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/Bizipoz" style='font-size: 3vh; color:#01a5e2' class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"> <%= image_tag ("shahid.jpeg"), class: 'img-fluid rounded-circle mb-3 img-thumbnail shadow-sm', style: 'width: 100;' %>
          <h5 class="mb-0" style='font-size: 2.5vh'>Shahid Farooq</h5><span class="small text-uppercase text-muted" style='font-size: 1.9vh'>Developer | Bristol</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link" style='font-size: 3vh; color:#01a5e2'><i class="fa-brands fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/SIFAR101" style='font-size: 3vh; color:#01a5e2'  class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">  <%= image_tag ("simona.jpeg"), class: 'img-fluid rounded-circle mb-3 img-thumbnail shadow-sm', style: 'width: 100;' %>
          <h5 class="mb-0" style='font-size: 2.5vh'>Simona Barone</h5><span class="small text-uppercase text-muted" style='font-size: 1.9vh'>Developer | Rotterdam</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/simonabar1" style='font-size: 3vh; color:#01a5e2' class="social-link"><i class="fa-brands fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/simona-barone/" style='font-size: 3vh; color:#01a5e2' class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>
