



<div style='height: 80vh; width: 100%; vertical-align: middle; padding-bottom: 50px 0;'>
      <div class="" style='padding: 40px 20px'>
            <h2 class="text-center", style='color: #2a2e30; text-align: right; padding: 30px 20px 0 20px; font-size: 4.5vh; font-weight: bold;'><b>Welcome to <span style='color:#01a5e2;'> Timoty! </span></b></h2>
                    <p class="text-center" style='font-size: 2.5vh; opacity: .7; padding: 10px 20px';>Choose an option to get started.</p>
            <div class='text-center' style='text-align: center; height: 0.5vh; background-color: #01a5e2;  margin: 10px auto 40px; width: 8%;'>
            </div>

            <div class="d-flex justify-content-center" style='padding-top: 2vh'>

                <%= link_to new_household_path do %>
                <div class="card" style='width: 60vh; height: 41vh; margin-right: 4vh;'>
                <div style='margin: auto'>
                  <%= image_tag ("create_house.svg"), style: '' %>
                  <h4 style='font-weight: bold; padding: 5px 0; font-size: 2.5vh;'>Set Up Your Household</h4>
                  <p style='font-size: 2vh;'> I will start a new game, set up the rules and invite my flatmates to join.</p>
                </div>
                </div>
                <% end %>

                <%= link_to user_requests_path(current_user) do %>
                <div class="card" style='width: 60vh; height: 41vh; margin-left: 4vh;'>
                <div style='margin: auto'>
                  <%= image_tag ("join_house.svg"), style: '' %>
                  <h4 style='font-weight: bold; padding: 5px 0; font-size: 2.5vh;'>Join a Household</h4>
                  <p style='font-size: 2vh;'>Someone else already created a game, and I just want to join. </p>
                </div>
                </div>
                <% end %>

            </div>
        </div>
    </div>
