.btn-main {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #f3703f;
  text-decoration: none;

}

.btn-main:hover {
  background: #ff6936;
  color: white;
}

.btn-main a {
  color: white;
  text-decoration: none;
}
