.btn-main {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #f3703f;
  text-decoration: none;
  -webkit-background-color: #f3703f !important;


}

.btn-main:hover {
  background: #ff6936;
  color: white;
}

.btn-main-blue {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #01a5e2;
  text-decoration: none;
  -webkit-background-color: #01a5e2 !important;

}

.btn-main-blue:hover {
  background: #1abbf5;
  color: white;
}

.btn-main a {
  color: white;
  text-decoration: none;
}

.secondary-btn {
  background-color:  #353B57;
  color:white;
  border: 1px solid #353B57;
  padding: 8px 24px;
  border-radius: 5px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.secondary-btn:hover {
  opacity: 1;
  color: white;
  text-decoration: none;
}

.submit-disabled {
  background-color: darkgray;
}
