
.navbar-lewagon {
  justify-content: space-between;
  position: sticky;
  padding: 10px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  padding: 10px;
  background-color: #d4edf4;

}

#navbar-lewagon .navbar-collapse {
 flex-grow: 0;
}

#navbar-lewagon .navbar-brand img {
  width: 40px;
  flex-grow: 0;
}
