

<div style="margin: 20px auto; width: 90%; font-size: 2vh;">
<%= simple_form_for([@household, @rule],
   data: {
    insert_in_list_target: "form",
    action: "submit->insert-in-list#send"
  }) do |f| %>
  <%= f.input :name, placeholder: "Enter a name...", label: false, input_html: { style: 'width: 80vh; height: 4vh; font-size: 2.5vh' } %>

  <div class="form-actions text-center">
  <button class='' style='background-color: green; border-radius: 8px; padding: 0.7vh 2vh;'>
  <%= f.submit 'Add Rule', class: "btn-main", style: 'background-color: green;  font-size: 2vh;',  data: {turbo: false} %>
  </button>
  </div>
<% end %>
</div>
