<div style="width: 60%; margin: 20px auto;">
<%= simple_form_for(@rule) do |f| %>
  <%= f.input :name %>
  <div style="text-align: center;">
  <%= f.submit class: "btn-flat" %>
  </div>
<% end %>
</div>
